name: Docker Workflow

on:
    workflow_call:
        inputs:
            trigger-docker-build-image:
                required: false
                type: boolean
                description: "Run the build image job"
                default: false
            project-path:
                required: false
                type: string
                description: "The path to the project"
                default: "."
            build-image:
                required: false
                type: string
                description: "a temp variable"
                default: ""
            build-image-tag:
                required: false
                type: string
                description: "a temp variable"
                default: "${{ github.ref_name }}-${{ github.sha }}"
            auth-registry-build:
                required: true
                type: string
                description: "The registry URL"
                default: "ghcr.io"
            auth-registry-push:
                required: false
                type: string
                description: "The registry URL"
                default: "ghcr.io"
        secrets:
            GH_TOKEN:
                required: true
                description: "The token of the GitHub Actions user"
            GH_USERNAME:
                required: true
                description: "The username of the GitHub Actions user"
jobs:
    docker-build-image:
        runs-on: ubuntu-latest
        if: inputs.trigger-docker-build-image
        steps:
            - name: Registry Auth
              uses: ./.github/workflows/composite_actions/registry-auth.yml
              with:
                  auth-registry-url: ${{ inputs.auth-registry-build }}
                  gh-username: ${{ secrets.GH_USERNAME }}
                  gh-token: ${{ secrets.GH_TOKEN }}
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Navigate to Project Path
              run: |
                  cd ${{ inputs.project-path }}
            - name: Build Image
              run: |
                  docker build -t ${{ inputs.build-image }}:${{ inputs.build-image-tag }} . #TODO: add build args && context variables
            - name: Push Image
              run: |
                  docker push ${{ inputs.build-image }}:${{ inputs.build-image-tag }}
