name: GitHub Issues to Discord Periodic Update

on:
    workflow_call:

jobs:
    periodic-issues-updates:
        runs-on: python-latest
        steps:
            - name: Run Python Script
              run: |
                  echo "Starting Script to obtain all issues "
