name: GitHub Issues Integration

on:
  workflow_call:
    inputs:
      trigger-log-issue-details:
        required: false
        type: boolean
        description: "Trigger log issue details"
        default: false
      trigger-periodic-issues-updates:
        required: false
        type: boolean
        description: "Trigger periodic issues updates"
        default: false

jobs:
  log_issue_details:
    runs-on: ubuntu-latest
    if: inputs.trigger-log-issue-details
    steps:
      - name: Echo key issue fields (quick)
        id: echo_key_issue_fields
        run: |
          echo "Trigger Action: ${{ github.event_name }} ${{ github.event.action }}"
          echo "Issue Title:    ${{ github.event.issue.title }}"
          echo "User:           ${{ github.event.issue.user.login }}"
          echo "Issue Number:   ${{ github.event.issue.number }}"
          echo "Issue State:    ${{ github.event.issue.state }}"
          echo "Issue URL:      ${{ github.event.issue.html_url }}"
          echo "Repository:     ${{ github.repository }}"
          echo ""
          echo "Trigger Reason: The workflow was triggered by an | ${{ github.event_name }} | event with action | ${{ github.event.action }} |"

      - name: Send to Discord
        id: send_to_discord
        uses: tsickert/discord-webhook@v7.0.0
        with:
          webhook-url: ${{ secrets.DISCORD_WEBHOOK_URL }}
          content: |
            ---
            # Issue Title: ${{ github.event.issue.title }}

            ## Issue Details:
            - **User:** ${{ github.event.issue.user.login }}
            - **Trigger Action:** ${{ github.event_name }} ${{ github.event.action }}
            - **Repository:** ${{ github.repository }}
            - **Issue Number:** ${{ github.event.issue.number }}
            - **Issue State:** ${{ github.event.issue.state }}
            - **Issue URL:** ${{ github.event.issue.html_url }}

  periodic_issues_updates:
    runs-on: ubuntu-latest
    if: inputs.trigger-periodic-issues-updates
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          repository: scondo-prof/theToolKit
          ref: 5-gh-periodic-issue-updates

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Get all issues
        id: get_all_issues
        run: |
          echo "Getting all issues"
          curl -X GET -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" https://api.github.com/repos/${{ github.repository }}/issues | jq '.' > issues.json

      - name: Create Discord Notification from issues.json
        id: create_discord_notification
        run: |
          python3 .github/workflows/workflow_assets/periodic_issues_notification_format.py

      - name: Send to Discord
        uses: tsickert/discord-webhook@v7.0.0
        with:
          webhook-url: ${{ secrets.DISCORD_WEBHOOK_URL }}
          content: ${{ steps.create_discord_notification.outputs.discord_message }}

      #!! example of how to use outputs from one job in another job
# jobs:
#   example:
#     runs-on: ubuntu-latest
#     steps:
#       - name: Compute value
#         id: compute
#         run: |
#           VALUE="cool-beans"
#           echo "result=$VALUE" >> "$GITHUB_OUTPUT"

#       - name: Use value
#         run: |
#           echo "Result is: ${{ steps.compute.outputs.result }}"

