name: GitHub Issues to Discord Periodic Update

on:
    workflow_call:

jobs:
    periodic-issues-updates:
        runs-on: ubuntu-latest
        steps:
            - name: Get all issues
              run: |
                  echo "Getting all issues"
                  curl -X GET -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" https://api.github.com/repos/${{ github.repository }}/issues | jq '.' > ISSUES_JSON.json

            - name: Read ISSUES_JSON.json
              run: |
                  echo "Reading ISSUES_JSON.json"
                  cat ISSUES_JSON.json
